:root {
  --main-color: rgba(99, 63, 189, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

section {
  width: 512px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: var(--main-color);
}
